<%- include('../partials/header.ejs') %>
<div class="border-end border-warning h-100">
  <div class="text-center">
   <img src="https://scontent.fbom26-1.fna.fbcdn.net/v/t39.30808-6/409174106_1264974457502541_8649533885370050676_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=XD4uOH8JNh0AX8wv1cU&_nc_ht=scontent.fbom26-1.fna&oh=00_AfAkL5PSvZJv2sBA39coiPC-whQXHJvw1jNQVJjh5cTNGw&oe=658150E1" alt="" class="img-fluid rounded-circle mt-5">
   <h3 class="text-white mt-3 st-font">Sachin Kumar</h3>
  </div>
  <nav class="nav flex-column text-center mt-4">
   <a href="/" class="nav-link  ">Home</a>
   <a href="/service" class="nav-link  ">Services</a>
   <a href="/skill" class="nav-link ">Skill</a>
   <a href="/contact" class="nav-link ">Contact</a>
  </nav>
 </div>
